[data-temper-drawer] {
  touch-action: none;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

[data-temper-drawer][data-temper-snap-points='false'][data-temper-drawer-direction='bottom'][data-state='open'] {
  animation-name: slideFromBottom;
}
[data-temper-drawer][data-temper-snap-points='false'][data-temper-drawer-direction='bottom'][data-state='closed'] {
  animation-name: slideToBottom;
}

[data-temper-drawer][data-temper-snap-points='false'][data-temper-drawer-direction='top'][data-state='open'] {
  animation-name: slideFromTop;
}
[data-temper-drawer][data-temper-snap-points='false'][data-temper-drawer-direction='top'][data-state='closed'] {
  animation-name: slideToTop;
}

[data-temper-drawer][data-temper-snap-points='false'][data-temper-drawer-direction='left'][data-state='open'] {
  animation-name: slideFromLeft;
}
[data-temper-drawer][data-temper-snap-points='false'][data-temper-drawer-direction='left'][data-state='closed'] {
  animation-name: slideToLeft;
}

[data-temper-drawer][data-temper-snap-points='false'][data-temper-drawer-direction='right'][data-state='open'] {
  animation-name: slideFromRight;
}
[data-temper-drawer][data-temper-snap-points='false'][data-temper-drawer-direction='right'][data-state='closed'] {
  animation-name: slideToRight;
}

[data-temper-drawer][data-temper-snap-points='true'][data-temper-drawer-direction='bottom'] {
  transform: translate3d(0, 100%, 0);
}

[data-temper-drawer][data-temper-snap-points='true'][data-temper-drawer-direction='top'] {
  transform: translate3d(0, -100%, 0);
}

[data-temper-drawer][data-temper-snap-points='true'][data-temper-drawer-direction='left'] {
  transform: translate3d(-100%, 0, 0);
}

[data-temper-drawer][data-temper-snap-points='true'][data-temper-drawer-direction='right'] {
  transform: translate3d(100%, 0, 0);
}

.data-temper-dragging .data-temper-scrollable [tempert-drawer-direction='top'] {
  overflow-y: hidden !important;
}
.data-temper-dragging .data-temper-scrollable [tempert-drawer-direction='bottom'] {
  overflow-y: hidden !important;
}

.data-temper-dragging .data-temper-scrollable [tempert-drawer-direction='left'] {
  overflow-x: hidden !important;
}

.data-temper-dragging .data-temper-scrollable [tempert-drawer-direction='right'] {
  overflow-x: hidden !important;
}

[data-temper-drawer][data-temper-delayed-snap-points='true'][data-temper-drawer-direction='top'] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[data-temper-drawer][data-temper-delayed-snap-points='true'][data-temper-drawer-direction='bottom'] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[data-temper-drawer][data-temper-delayed-snap-points='true'][data-temper-drawer-direction='left'] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[data-temper-drawer][data-temper-delayed-snap-points='true'][data-temper-drawer-direction='right'] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[data-temper-overlay][data-temper-snap-points='false'] {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}
[data-temper-overlay][data-temper-snap-points='false'][data-state='open'] {
  animation-name: fadeIn;
}
[data-temper-overlay][data-temper-snap-points='false'][data-state='closed'] {
  animation-name: fadeOut;
}

[data-temper-overlay][data-temper-snap-points='true'] {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-temper-overlay][data-temper-snap-points='true'] {
  opacity: 1;
}

[data-temper-drawer]::after {
  content: '';
  position: absolute;
  background: inherit;
  background-color: inherit;
}

[data-temper-drawer][data-temper-drawer-direction='top']::after {
  top: initial;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 200%;
}

[data-temper-drawer][data-temper-drawer-direction='bottom']::after {
  top: 100%;
  bottom: initial;
  left: 0;
  right: 0;
  height: 200%;
}

[data-temper-drawer][data-temper-drawer-direction='left']::after {
  left: initial;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 200%;
}

[data-temper-drawer][data-temper-drawer-direction='right']::after {
  left: 100%;
  right: initial;
  top: 0;
  bottom: 0;
  width: 200%;
}

[data-temper-overlay][data-temper-snap-points='true']:not([data-temper-snap-points-overlay='true']):not(
    [data-state='closed']
  ) {
  opacity: 0;
}

[data-temper-overlay][data-temper-snap-points-overlay='true'] {
  opacity: 1;
}

/* This will allow us to not animate via animation, but still benefit from delaying unmount via Radix. */
@keyframes fake-animation {
  from {
  }
  to {
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToBottom {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideFromTop {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToTop {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToLeft {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToRight {
  to {
    transform: translate3d(100%, 0, 0);
  }
}
